@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 24px 88px;
}

header ul {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

header li {
    color: #556987;
    font-size: 16px;
}

header li:first-child {
    color: #2A3342;
}

.log-in {
    color: #556987;
    font-size: 16px;
    padding: 14px 8px;
    border: none;
    background: none;
    cursor: pointer;
}

.sign-up {
    color: #F0FDF4;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    background: #22C55E;
    box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
    cursor: pointer;
    margin-left: 10px;
}