@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: white;
}

header ul {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

header li {
    color: #556987;
    font-size: 16px;
}

header li:first-child {
    color: #2A3342;
}

.log-in {
    color: #556987;
    font-size: 16px;
    padding: 14px 8px;
    border: none;
    background: none;
    cursor: pointer;
}

.sign-up {
    color: #F0FDF4;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    background: #22C55E;
    box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
    cursor: pointer;
    margin-left: 10px;
}

main {
    max-width: 1440px;
    margin: 140px auto;
}

.upperPart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upperPart span {
    color: #22C55E;
    text-align: center;
    font-size: 12px;
    border-radius: 36px;
    background: #DCFCE7;
    box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
    display: inline-flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
}

.upperPart h1 {
    color: #2A3342;
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.96px;
    line-height: 60px;
    margin-top: 16px;
}

.upperPart p {
    color: #556987;
    font-size: 20px;
    font-style: normal;
    line-height: 30px;
    width: 463.351px;
    margin-top: 16px;
}

.hiring {
    display: inline-flex;
    height: 56px;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #22C55E;
    box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
    color: #F0FDF4;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    border: none;
    margin-right: 6px;
    cursor: pointer;
}

.culture {
    display: inline-flex;
    height: 56px;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #D5DAE1;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
    color: #333F51;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    cursor: pointer;
}

.grid {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1 fr 1 fr 1fr 1fr;
    gap: 33px;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item:first-child {
    grid-area: 1 / 1 / 3 / 3;
}

.grid-item:nth-child(5) {
    grid-area: 3 / 2 / 5 / 4;
}